# Ignore Python bytecode
*.py[cod]
__pycache__/
*.pyo

# Ignore SQLite database
db.sqlite3

# Ignore Django migrations
*/migrations/

# Ignore logs
*/logs/
*.log
*.out
*.err

# Virtual environment
venv/
env/